@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --primary-clr: #FEA301;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    background-color: #e2e1dc;
}

.main-agendar{
    display: flex;
    flex-direction: column;
}

.main-agendar .title #confirmar{
    background-color: var(--primary-clr);
    color: white;
    text-transform: uppercase;
}

/* ------------------------------------------------------ */

.kpi-container{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.kpi-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
    border-radius: 0;
    padding: 1rem 1.5rem;
    width: 33%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.kpi-icon{
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
}

.kpi-text{
    h1{
        font-weight: 200;
        font-size: 1.5rem;
    }
    span{
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
}