@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --primary-clr: #FEA301;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    background-color: #e2e1dc;
}

.main-agendar{
    display: flex;
    flex-direction: column;
}

.main-agendar .title #confirmar{
    background-color: var(--primary-clr);
    color: white;
    text-transform: uppercase;
}

/* ------------------------------------------------------ */

.kpi-container{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.kpi-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border: 1px solid black;
    border-radius: 0;
    padding: 1rem 1.5rem;
    width: 33%;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.kpi-icon{
    align-items: center;
    justify-content: center;
    font-size: 3.5rem;
}

.kpi-text{
    h1{
        font-weight: 200;
        font-size: 1.5rem;
    }
    span{
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
}

/* ----------------------------------------------------------------- */

.calendar-container {
    display: flex;
    flex-direction: column;

    h1{
        margin-top: auto;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.3rem;
        margin-bottom: 1px;
    }
}

.calendar {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    color: #878895;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid black;
}

.calendar .month {
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
    font-size: 1.7rem;
    font-weight: 800;
    color: black;
    text-transform: capitalize;
    border-bottom: 1px solid black;
    text-transform: uppercase;
}

.calendar .month .prev,
.calendar .month .next {
    cursor: pointer;
}

.calendar .month .prev:hover,
.calendar .month .next:hover {
    color: var(--primary-clr);
}

.calendar .weekdays {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: 500;
    border-bottom: 1px solid black;
    text-transform: capitalize;
}

.weekdays div {
    width: 14.28%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.calendar .days {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 20px;
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 20px;
}

.calendar .days .day {
    width: 14.28%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    color: var(--primary-clr);
    border: 1px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n + 1) {
    border-left: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(7n) {
    border-right: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(-n + 7) {
    border-top: 2px solid #f5f5f5;
}

.calendar .days .day:nth-child(n + 29) {
    border-bottom: 2px solid #f5f5f5;
}

.calendar .days .day:not(.prev-date, .next-date):hover {
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .prev-date,
.calendar .days .next-date {
    color: #b3b3b3;
}

.calendar .days .active {
    position: relative;
    font-size: 2rem;
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .days .active::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 10px 2px var(--primary-clr);
}

.calendar .days .today {
    font-size: 2rem;
}

.calendar .days .event {
    position: relative;
}

.calendar .days .event::after {
    content: "";
    position: absolute;
    bottom: 10%;
    left: 50%;
    width: 75%;
    height: 6px;
    border-radius: 30px;
    transform: translateX(-50%);
    background-color: var(--primary-clr);
}

.calendar .days .day:hover.event::after {
    background-color: #fff;
}

.calendar .days .active.event::after {
    background-color: #fff;
    bottom: 20%;
}

.calendar .days .active.event {
    padding-bottom: 10px;
}

.calendar .goto-today {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    padding: 0 20px;
    margin-bottom: 20px;
    color: var(--primary-clr);
}

.calendar .goto-today .goto {
    display: flex;
    align-items: center;
    border-radius: 0;
    overflow: hidden;
    border: 1px solid var(--primary-clr);
}

.calendar .goto-today .goto input {
    width: 100%;
    height: 30px;
    outline: none;
    border: none;
    border-radius: 0;
    padding: 0 20px;
    color: var(--primary-clr);
    border-radius: 0;
}

.calendar .goto-today button {
    padding: 5px 10px;
    border: 1px solid var(--primary-clr);
    border-radius: 0;
    background-color: transparent;
    cursor: pointer;
    color: var(--primary-clr);
}

.calendar .goto-today button:hover {
    color: #fff;
    background-color: var(--primary-clr);
}

.calendar .goto-today .goto button {
    border: none;
    border-left: 1px solid var(--primary-clr);
    border-radius: 0;
}