@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    --primary-clr: #FEA301;
    --cor-titulo: #282626;
    --cor-font: #28262680;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
}

body {
    position: relative;
    min-height: 100vh;
    display: flex;
    background-color: #e2e1dc;
}

.main-agendar{
    display: flex;
    flex-direction: column;
}

.main-agendar .title #confirmar{
    border: 2px solid var(--primary-clr);
    background-color: var(--primary-clr);
    color: white;
    text-transform: uppercase;
}

.main-agendar .title #confirmar.disabled{
    border: 2px solid var(--cor-font);
    background-color: rgba(167, 167, 167, 0.514);
    color: var(--cor-font);
    text-transform: uppercase;
}

main .title .main-button.disabled:hover {
    opacity: .7;
    transform: scale(1.0);
}

/* ------------------------------------------------------ */

.kpi-container{
    display: flex;
    flex-direction: row;
    gap: 1.25rem;
}

.kpi-box{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    align-items: center;
    border: 1px solid var(--cor-font);
    border-radius: 0;
    padding: 1rem 1.5rem;
    width: 33%;
    background-color: white;
}

.kpi-text{
    h1{
        font-weight: 400;
        font-size: 1.6rem;
        color: var(--cor-titulo);
    }

    span{
        font-weight: 600;
        font-size: 2rem;
        text-align: center;
    }
}