table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  margin-top: 1rem;
}

td, th {
  text-align: left;
  padding: 8px;
  width: 20%;
}

tr td:first-child, th:first-child{
  width: 25%;
}

tr td:nth-child(2), th:nth-child(2){
  width: 35%;
}

tr:not(:last-child){
  border-bottom: 2px solid #00000050;
}

th {
  border-top: 0;
}

th:not(:last-child), td:not(:last-child){
  border-right: 2px solid #00000050;
}

thead{
  border-bottom: 2px solid #00000050;
}

.login-modal{
  display: flex;
  position: absolute;
  background-color: #00000050;
}

.login-box{
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
}