@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Manrope", sans-serif;
    text-decoration: none;
    font-size: 1.6rem;
}

:root {
    --cor-primaria: #EEEBE4;
    --cor-secundaria: #FEA301;
    --cor-secundaria-light: #FF7B0026;
    --cor-titulo: #282626;
    --cor-font: #636363;
    --cor-font-light: #636363AE;
}

html {
    width: 100vw;
    height: 100vh;
    font-size: 62.5%;
}

body {
    background-color: var(--cor-primaria);
    margin: 0;
}

/****** FAZENDAS ******/
body {
    display: flex;
    gap: 2rem;
    max-width: 100vw;
    overflow-x: hidden;
}

aside {
    display: flex;
    flex-direction: column;
    width: 8.8rem;
    height: 100vh;
    padding: 2rem 0 0 2rem;
    border-right: 1px solid var(--cor-font-light);
    position: fixed;
    transition: all .4s ease-out; 
    z-index: 100;
    background-color: var(--cor-primaria);
}


aside .logo {
    margin-bottom: 3.2rem;
    cursor: pointer;
}

aside .logo img {
    width: 4.8rem;
}

aside .nav-caret {
    position: absolute;
    right: 0;
    top: 7.6rem;
    height: 3.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

aside .nav-caret-background,
aside .nav-caret-icon {
    position: absolute;
    width: 2.8rem;
    height: 2.8rem;
    z-index: 99;
    transition: 0.2s all ease-out;
    padding: .2rem;
    box-sizing: content-box;
    border-radius: 20px;
}

aside.open .nav-caret-icon {
    transform: rotate(180deg);
}

aside .nav-caret-background {
    background-color: var(--cor-primaria);
}

aside .nav-caret-icon:hover {
    margin-right: -1rem;
    transform: scale(1.1);
}

aside.open .nav-caret-icon:hover {
    margin-right: 1rem;
    transform: scale(1.1);
    transform: rotate(180deg);
}

aside nav .nav-items {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    list-style: none;
}

aside nav .nav-items .log-out-icon {
    position: absolute;
    bottom: 2rem;
    width: 90%;
}

aside nav .nav-items .nav-item a {
    display: flex;
    gap: 3.2rem;
    width: 4.8rem;
    height: 4.8rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    color: var(--cor-font-light);
    transition: all .4s ease-out;
    position: relative;
    border-radius: 10px;
    padding-left: 6rem;
    margin-left: -0.4rem;
}

aside nav .nav-items .nav-item a:hover {
    background-color: var(--cor-secundaria-light);
}

aside svg {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 3.2rem;
    min-height: 3.2rem;
    fill: var(--cor-font-light);
    flex-shrink: 0;
}

aside nav .nav-items svg {
    position: absolute;
    left: 1.4rem;
}
aside nav .nav-items i {
    position: absolute;
    left: 1.65rem;
    font-size: 3.2rem;
}

aside nav .nav-items .fa-house{
    left: 1.3rem;
}

aside nav .nav-items .fa-headset{
    left: 1.4rem;
}

aside a:hover svg {
    fill: var(--cor-secundaria);
}

aside.open {
    width: 18rem;
}

aside nav .nav-items .nav-item a span {
    width: 0rem;
    white-space: nowrap;
    overflow: hidden;
    transition: all .3s ease-in-out;
}

aside.open nav .nav-items .nav-item a span {
    width: 100%;
}

aside.open nav .nav-items .nav-item a {
    justify-content: flex-start;
    width: 90%;
}

main {
    padding: 3.2rem 3.2rem 3.2rem 12rem; 
    transition: all .4s ease-out;
    width: calc(100vw - 1.1%);
}

.main-content-wrapper{
    gap: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main .title {
    display: flex;
    align-items: center;
    gap: 3.2rem;
    margin-bottom: 2rem;
    width: 100%;
    justify-content: space-between;
}

main .title .buttons {
    display: flex;
    gap: 1rem;
}

.main-finc .title div {
    display: flex;
    align-items: center;
    gap: .5rem;
}

main .title div {
    span{
        /* font-size: 2rem; */
    }

    select {
        font-family: "Manrope", sans-serif;
        padding: .5rem .8rem;
        border-radius: 1rem;
        font-size: 1.6rem;
    }
    
    option {
        font-size: 1.6rem;
    }
}

main .subtitle {
    display: block;
    font-weight: 400;
    font-size: 2.4rem;
    letter-spacing: 0.05em;
    color: var(--cor-font);
    text-transform: uppercase;
}

main .title {
    h1{

        font-size: 3.5rem;
        text-transform: uppercase;
        font-weight: 800;
    }
    h3{
        font-size: 1.2rem;
        font-weight: 400;
    }
}

main .title .main-button {
    font-size: 1.8rem;
    color: var(--cor-font);
    border: 1px solid var(--cor-titulo);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    font-weight: 700;
    text-transform: uppercase;
    padding: .8rem 1.9rem;
    border: 0;
    border-radius: 15px;
    cursor: pointer;
    transition: all .2s ease-out;
    opacity: .7;
}

main .title .main-button:hover {
    opacity: 1;
    transform: scale(1.02);
}

main.aside-open { 
    margin-left: 9rem !important; 
    width: calc(100% - 20rem);
}

main .cards-group {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 2rem;
    justify-content: space-between;
}

main .cards-group .card {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 24rem;
    border-radius: 5px;
    border: 1px solid var(--cor-font-light);
    cursor: pointer;
    transition: all .2s ease-in-out;
    flex-shrink: 2;
}

main .cards-group .card .card-image {
    border-radius: 5px 5px 0 0;
    height: 14rem;
    width: 100%;
}

main .cards-group .card .card-content {
    padding: 0 0.6rem .6rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

main .cards-group .card .card-title {
    font-size: 2rem;
    color: var(--cor-titulo);
    font-weight: 500;
}

main .cards-group .card .card-subtitle,
main .cards-group .card .card-desc {
    font-size: 1.6rem;
    color: var(--cor-font);
    font-weight: 400;
}

main .cards-group .card:hover {
    transform: scale(1.05);
    border-color: var(--cor-titulo);
}

/* ---------------------------------------------------------- */

.left-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

.right-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 50%;
}

/* ---------------------------------------------------------- */

.modal-layout{
    background-color: var(--cor-primaria);
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    box-shadow: 1px 10px 1 10px rgb(180, 176, 176);
    position: absolute; /* Mudei para absolute para centralizar */
    top: 50%; /* Para centralizar verticalmente */
    left: 50%; /* Para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
}

.modal-layout::backdrop{
    background-color: #0000009f;
}

.modal-form-wrapper {
    margin-inline: 5rem;
    margin-block: 5rem;
    display: flex;
    flex-direction: column;
}

.modal-box-wrapper {

    display: flex;
    gap: 5.0rem;
}

.box-titulo {
    display: flex;
    justify-content: space-between;
}

.modal-box-container {
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.titulo-modal{

    font-size: 30px !important;
    font-weight: bold;
}

.botao-fechar-modal {
    border: none;
    background-color: var(--cor-primaria);
    font-size: 30px;
    cursor: pointer;
}

.dados-fazenda {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.input-modal {
    width: 36rem;
    height: 4.8rem;
    background-color: var(--cor-primaria);
    outline: none;
    border: 1px solid var(--cor-font);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    caret-color: var(--cor-secundaria);

}


.input-modal:hover {
    opacity: 1;
    border-color: var(--cor-titulo);
    color: var(--cor-titulo);
}

.input-cidade-fazenda {
    width: 36rem;
    height: 4.8rem;
    background-color: var(--cor-primaria);
    outline: none;
    border: 1px solid var(--cor-font);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 2rem;
    caret-color: var(--cor-secundaria);
}


#search {

    padding: 0.8rem;
    min-width: 50px;
    margin-left: 8px;
    background-color: orange;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}


.btn-add-modal {
    width: 36rem;
    font-size: 2rem;
    color: var(--cor-font);
    padding: .8rem 1.2rem;
    border: 1px solid var(--cor-font);
    border-radius: 10px;
    cursor: pointer;
    transition: all .2s ease-out;
    opacity: .9;
    margin-left: 27%;
    margin-top: 10%;

}

.btn-add-modal:hover {
    opacity: 1;
    border-color: var(--cor-titulo);
    color: var(--cor-titulo);
}

#modal_pulverizacao {
    width: 637px;
    height: 440px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    box-shadow: 1px 10px 1 10px rgb(180, 176, 176);
    position: absolute; /* Mudei para absolute para centralizar */
    top: 50%; /* Para centralizar verticalmente */
    left: 50%; /* Para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
}

#modal_pulverizacao::backdrop{
    background-color: #0000009f;
}

.container-modal-pulverizacao {
    width: 86%;
    height: 390px;
    margin-top: 20px;
    margin-left: 45px;
    display: flex;
    flex-direction: column;
    margin-top: 6%;
}

.box-titulo-pulverizacao {
    display: flex;
    justify-content: space-between;
    margin-bottom: 6%;
}

.botao-fechar-modal-pulverizacao {
    border: none;
    background-color: var(--cor-primaria);
    font-size: 24px;
    cursor: pointer;
}

.titulo-modal-pulverizacao {
    font-weight: bold;
    font-size: 24px !important; 
}

.container-pragas {
    display: flex;
    flex-direction: column;
}

.pragas{
    display: flex;
    flex-direction: column;
    width: 48%;  
    gap: 1.0rem;  
}

.box-adicionar-praga {
    margin-top: 15px;
    background-color: var(--cor-primaria);
    height: 30px;
    border-radius: 6px;
}

.adicionar-praga{
    display: flex;
    justify-content: center;
    font-weight:bold;
    margin-top: 3px;
    font-size: 20px;
    align-items: center;
    width: 101%;    
    cursor: pointer;
}

.adicionar-margintop {
    margin-top: 20px;
}

.data-desejada {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    font-size: 15px;
    gap: 1.0rem;
}

#escolher-praga{
    width: 27rem;
    height: 3.8rem;
    background-color: var(--cor-primaria);
    outline: none;
    border: 1px solid var(--cor-font);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    caret-color: var(--cor-secundaria);
}

.data-inicio {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    height: 3.2rem; 
    border: 1px solid var(--cor-font);
    background-color: var(--cor-primaria);
    caret-color: var(--cor-secundaria);
}

#pragas {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.box-pragas {
    display: flex;
    font-size: 15px;
}

.hectares {
    display: flex;
    flex-direction: column;
    width: 48%;
    margin-left: 20px;
    gap: 1.0rem;
}

#input_hectares_afetado {
    width: 27rem;
    height: 3.8rem;
    background-color: var(--cor-primaria);
    outline: none;
    border: 1px solid var(--cor-font);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 1.5rem;
    caret-color: var(--cor-secundaria);
}

.botao-recomendacoes {
    width: 160px;
    height: 40px;
    border: none;
    margin-top: 10%;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 70%;
    font-family: 'Inter'; 
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.botao-recomendacoes:hover {
    background-color: rgb(222, 153, 25) ;
    border: 2px solid #fff;
}

select{
    font-family: 'Inter';
    font-size: 12px;    
    color:rgb(101, 99, 99);
    padding-left: 6px;  
}

#modal_talhao {

    width: 637px;
    height: 540px;
    background-color: var(--cor-primaria);
    border-radius: 10px;
    border: none;
    font-family: 'Inter';
    box-shadow: 1px 10px 1 5px rgb(180, 176, 176);
    position: absolute; /* Mudei para absolute para centralizar */
    top: 50%; /* Para centralizar verticalmente */
    left: 50%; /* Para centralizar horizontalmente */
    transform: translate(-50%, -50%); /* Ajusta a posição para o centro */
}

#modal_talhao::backdrop{
    background-color: #0000009f;
}

.container-modal-talhao {
    width: 80%;
    height: 467px;
    margin-left: 65px;
    display: flex;
    flex-direction: column;
    margin-top: 6.5%;
}

.box-titulo-talhao {
    display: flex;
    gap:170px ;
}

.titulo-modal-talhao{
    font-size: 32px !important;
    font-weight: bold;
}

.botao-fechar-modal-talhao {
    border: none;
    background-color: var(--cor-primaria)   ;
    font-size: 32px;
    cursor: pointer;
}

.box-talhao {
    margin-top: 6%;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.input-hectar {
    width: 500px;
    height: 4.8rem;
    background-color: var(--cor-primaria);
    outline: none;
    border: 1px solid var(--cor-font);
    border-radius: 10px;
    padding-left: 1rem;
    font-size: 2rem;
    caret-color: var(--cor-secundaria);
}


.botao-adicionar-talhao {
    width: 120px;
    height: 45px;
    border: none;
    margin-top: 8%;
    border-radius: 10px;
    background-color: orange;
    color: white;
    font-weight: bold;
    font-size: 16px;
    margin-left: 74.5%;
    font-family: 'Inter'; 
    transition: all .4s ease-in-out;
    cursor: pointer;
}

.botao-adicionar-talhao:hover {
    background-color: rgb(222, 153, 25) ;
    border: 2px solid #fff;
}

.box-childrem-talhao {
    display: flex;
    flex-direction: column;
    gap: 1.0rem;
}


/* ---------------------------------------------------------- */

.graph-box{
    h1{
        text-transform: uppercase;
        font-weight: 300;
        font-size: 2.3rem;
    }
}

.graph-box div {
    width: 100%;
    height: 90.55%;
    border: 1px solid black;
    background-color: white;
    border-radius: 0;
    padding: 10px 10px 0 0;
}

.main-finc .graph-box div {
    height: 89.3%;
}

/* ---------------------------------------------------------- */

#pie_graph div{
    height: 90.9%;
    width: 100%;
    
    canvas{
        margin-inline: 6rem;
        /* margin-block: 1rem; */
    }
}

.container-box-1{
    padding-top: 3rem;
    width: 100%;
}

.next-buy-title{
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1rem;
    cursor: pointer;

    div{
        font-size: 1.75rem;
        font-weight: 800;
        display: flex;
        align-items: center;
    }
}

.next-buy-defen table{
    width: 100%;
    border-collapse: collapse;
}

.next-buy-defen td{
    width: 20%;
    border: 1px solid #00000050;
    text-align: left;
    box-sizing: border-box;
    font-size: 2rem;
    padding-block: 0.5rem;
    padding-left: 1rem;
}

.next-buy-defen td:first-child{
    padding-left: 4rem
}