:root {
    --cor-titulo: #282626;
    --cor-font: #28262680;
}

.defen-item-wrapper h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3rem;
}

.defen-item-container{
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
}

.defen-item{
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    input{
        margin-left: auto;
        width: 20px;
    }
}

label:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);  
}

.defen-icon{
    margin-right: 15px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.defen-info{
    h3{
        font-size: 2rem;
        color: var(--cor-titulo);
    }
    div span{
        font-size: 1.4rem;
        color: var(--cor-font);
    }
}

.less-info{
    display: flex;
    align-items: center;
}

.open{
    display: flex;
}

.next-buy-box.open .next-buy-defen {
    display: flex;
}
  
.toggle-icon {
    font-weight: bold;
    cursor: pointer;
}

.toggle-icon.rotate {
    transform: rotate(180deg);
    transition: transform 0.3s ease;
}

.next-buy-title{
    background-color: #2d2d2d;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-inline: 2rem;
    padding-block: 1rem;
    cursor: pointer;

    div{
        font-size: 1.75rem;
        font-weight: 800;
        display: flex;
        align-items: center;
    }
}

.next-buy-defen table{
    width: 100%;
    border-collapse: collapse;
}

.next-buy-defen td{
    border: 1px solid #00000050;
    text-align: left;
    box-sizing: border-box;
    font-size: 2rem;
    padding-block: 0.5rem;
    padding-left: 1rem;
}

.next-buy-defen td:first-child{
    padding-left: 4rem
}

.next-buy-box {
    padding: 0.5rem 0;
    display: flex;
    flex-direction: column;
}

.next-buy-title {
    cursor: pointer;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.next-buy-defen {
    display: none;
}

td, th {
    width: 20%;
}
tr td:nth-child(1), td:nth-child(2){
    width: 25%;
}

tr td:last-child, td:nth-child(4){
    width: 15%;
}