:root {
    --cor-titulo: #282626;
    --cor-font: #28262680;
}

.defen-item-wrapper h1{
    text-transform: uppercase;
    font-weight: 300;
    font-size: 2.3rem;
}

.defen-item-container{
    background-color: white;
    border: 1px solid black;
    border-radius: 0;
}

.defen-item{
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);

    input{
        margin-left: auto;
        width: 20px;
    }
}

label:hover{
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.2);  
}

.defen-icon{
    margin-right: 15px;
    padding-right: 10px;
    border-right: 1px solid black;
}

.defen-info{
    h3{
        font-size: 2rem;
        color: var(--cor-titulo);
    }
    div span{
        font-size: 1.4rem;
        color: var(--cor-font);
    }
}

.less-info{
    display: flex;
    align-items: center;
}