.main-planej{
    margin: 0;
    padding: 3.2rem 2rem 3.2rem 12rem;
    height: 100vh;
}

.main-planej .main-content-wrapper{
    height: 88%;
}

.main-planej .main-content-wrapper .left-content{
    width: 60%;
}

.main-planej .day{
    height: 90px !important;
}

.main-content-wrapper{
    gap: 25px;
}

/* -------------------------------------------------------------------- */

.events-wrapper{
    background-color: white;
    border: 1px solid black;
}

.right-content .today-date {
    width: 100%;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    text-transform: capitalize;
    border-bottom: 1px solid black;
}
.right-content .today-date .event-day {
    font-size: 2rem;
    font-weight: 500;
    text-transform: uppercase;
}
.right-content .today-date .event-date {
    font-size: 1.5rem;
    font-weight: 400;
    color: #878895;
}

.events {
    width: 100%;
    height: 100%;
    max-height: 600px;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;

    .event{
        position: relative;
        height: 45px;
        color: black;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        background-image: linear-gradient(to left, var(--primary-clr), white);
    }
    i{
        font-size: 2rem;
    }
}

.event:nth-child(odd) {
    background: transparent;
}

.events-fazenda .event:nth-child(even){
    background: white;
}

.events-fazenda .event:hover {
    background-image: linear-gradient(to left, var(--primary-clr), white);

    i{
        color: white;
    }
}


.events-fazenda table{
    border: 1px solid black;
}

table{
    background-color: white;
}

table, th, td {
    text-align: start;
    border-collapse: collapse;
    padding-left:10px;
}

tr:not(:last-child){
    border-bottom: 1px solid black;
}

.events-fazenda td:last-child{
    padding: 0;
    text-align: center;
    border-left: 0 !important;
}

th{
    font-size: 1.2rem;
}

td:not(:first-child){
    border-left: 1px solid black;
}

.events .event {
    font-size: 1.5rem;
    font-weight: 400;

    div {
        display: flex;
        flex-direction: row;
    }

    .event-title {
        font-size: 1.8rem;
        font-weight: 400;
        color: black;
    }

    .event-time {
        color: grey;
        margin-left: 15px;
    }
}

.events .event .event-icon{
    font-size: 2.5rem;
    color: black;
    transition: color 0.2s ease-in-out;
}